@page "/counter"
@using AntDesign;
@using BlazorApp2.Models;
@using BlazorApp2.Services;

@inject IPostcodeSearch PostcodeSearchService

@*<p>standard dropdown</p>
<StandardDropDownComponent Data="_selectNames" CurrentValue="one" OnSelectedItemChanged="StandardDropDownChange"></StandardDropDownComponent>*@


<br />
<br />
<br />

@*@if (_selectedItem != null)
{
    <p>Antd dropdown using Select component</p>
    <SelectComponent Data="_selectNames" CurrentValue="@_selectedItem?.Id" OnItemClick="StandardDropDownChange"></SelectComponent>
}*@

@*<DropDownComponent Data="@_dropItems" ButtonCaption="Cick me" OnItemClick="DropDownClick"></DropDownComponent>*@

@*<AntDesignTextAreaComponent></AntDesignTextAreaComponent>*@

@*<AntDesignFormValidation></AntDesignFormValidation>*@

@*<AntDesignAutoCompleteComponent Data="@autoCompleteData"
                                OnInput="@AutoCompleteOnInput"
                                OnSelectionChange="@AutoCompleteOnSelectionChange"
                                PlaceholderCaption="Enter postcode">
</AntDesignAutoCompleteComponent>

<br />
<Divider />
<p>Total number of address: @autoCompleteData?.Count()</p>*@

@*<TestComponent></TestComponent>*@

<CustomAutoCompleteComponent></CustomAutoCompleteComponent>

<br />
<b />
<br />
<br />
<br />

@if (_testVisible)
{
    <p>Changed: @_changedCounter</p>
    <p>@_selectedItem?.Description</p>
}

@code {

    private SelectModel? _selectedItem = new SelectModel();
    private int _changedCounter = 0;
    private bool _testVisible = false;

    List<string> autoCompleteFetchedData = new List<string>()
    {
        "Beijing","Shanghai","Guangzhou","Shenzhen","Chongqing","Wuhan"
    };

    IEnumerable<string> autoCompleteData = new List<string>();

    private IEnumerable<DropDownModel> _dropItems = new List<DropDownModel>
    {
        new DropDownModel
        {
            Id = "1",
            Description = "test"
        },
        new DropDownModel
        {
            Divider = true
        },
        new DropDownModel
        {
            Id = "2",
            Description = "Two",
            Disabled = false
        }
    };

    private IEnumerable<SelectModel> _selectNames = new List<SelectModel>
    {
        new SelectModel
        {
            Id = "one",
            Description = "name one",
            Disabled = false
        },
        new SelectModel
        {
            Id = "two",
            Description = "name two",
            Disabled = false
        },
        new SelectModel
        {
            Divider = true
        },
        new SelectModel
        {
            Id = "three",
            Description = "name three"
        }
    };

    private void StandardDropDownChange(SelectModel model)
    {
        _selectedItem = model;
        _testVisible = true;
        _changedCounter++;
        //_selectedItem.Id = "one";
    }

    private void DropDownClick(DropDownModel model)
    {

    }

    protected override void OnInitialized()
    {
        _selectedItem = _selectNames.FirstOrDefault(m => m.Id.Equals("one"));
    }

    private async Task AutoCompleteOnInput(string value)
    {
        var data = await PostcodeSearchService.GetDataAsync(value, 10);
        autoCompleteData = data; //autoCompleteFetchedData.Where(d => d.Contains(value, StringComparison.OrdinalIgnoreCase));
    }

    private async Task AutoCompleteOnSelectionChange(string value)
    {
        if (!string.IsNullOrWhiteSpace(value))
        {
            var data = await PostcodeSearchService.GetAddressAsync(value);
            autoCompleteData = data;
            //StateHasChanged();
        }
    }


}
