@using AntDesign;

@if (Data == null)
{
    return;
}

<Dropdown Trigger="@(new Trigger[] { Trigger.Click })">
    <Overlay>
        <Menu OnMenuItemClicked="OnItemClicked">
            @foreach (var item in Data)
            {
                if (item.Divider)
                {
                    <MenuDivider />
                }
                else
                {
                    if(_userHasAuthorization)
                    {
                        <MenuItem Disabled="@item.Disabled" Id="@item.Id">@item.Description</MenuItem>
                    }
                    else
                    {
                        <MenuItem Disabled="true" Id="@item.Id">@item.Description</MenuItem>
                    }
                }
            }
        </Menu>
    </Overlay>
    <ChildContent>
        <Button Class="greenOutlinedButton" Type="@ButtonType.Primary">
            @ButtonCaption
            <Icon Class="ant-dropdown-link" Type="down" />
        </Button>
    </ChildContent>
</Dropdown>


@*@if (!string.IsNullOrWhiteSpace(AuthorizedRoles))
{
    <AuthorizeView Roles="@AuthorizedRoles">
        <Authorized>
            <Dropdown Trigger="@(new Trigger[] { Trigger.Click })">
                <Overlay>
                    <Menu OnMenuItemClicked="OnItemClicked">
                        @foreach (var item in Data)
                        {
                            if (item.Divider)
                            {
                                <MenuDivider />
                            }
                            else
                            {
                                <MenuItem Disabled="@item.Disabled" Id="@item.Id">@item.Description</MenuItem>
                            }
                        }
                    </Menu>
                </Overlay>
                <ChildContent>
                    <Button Class="greenOutlinedButton" Type="@ButtonType.Primary">
                        @ButtonCaption
                        <Icon Class="ant-dropdown-link" Type="down" />
                    </Button>
                </ChildContent>
            </Dropdown>
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
}
*@